
$theme-color: #72CAED;
$accent-color: #d17567;
$white-color: #FFFFFF;
$black-color: #000000;
$light-grey-color: #CCCCCC;
$grey-color: #6d6d6d;

@font-face {
    font-family: "Cera_pro";
    src: local("Cera_pro"), url(./assets/fonts/Cera_pro/Cera_pro_light.ttf) format("truetype");
}

body {
    margin: 0;
    color: $black-color;
    font-family: "Cera_pro";
}
