@import "../../styles.scss";

.header {
    height: $header-height;
    display: flex;
    align-items: center;
    background-color: $white-color;

    .logo-wrapper {
        margin: 0 20px;
        .logo {
            width: 65px;
        }
    }

    .menu {
        flex: 1;
    }

    .social-container {
        margin: 0 5px;
        @media #{$desktop} {
            margin: 0 20px;
        }
    }
}
