@import "../../styles.scss";

.footer {
    display: flex;
    background-color: $theme-color;
    color: $white-color;
    flex-direction: column;

    @media #{$desktop} {
        flex-direction: row;
    }

    .logo-part {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;

        .logo-wrapper {
            .logo {
                filter: brightness(0) invert(1);
                height: 105px;
                width: 105px;
            }
        }

        .social-container {
            margin: 10px 0;
        }

        .copyright {
            color: $grey-color;
            font-size: 12px;
            margin: 0 0 20px 0;
        }
    }

    .menu-part {
        flex: 1;
    }

    .contacts-part {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;

        @media #{$desktop} {
            align-items: flex-start;
        }
        
        .items-container {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
        }

        .contacts-header {
            font-weight: bold;
            color: $grey-color;
            margin: 15px 0;
        }

        .contacts-item {
            line-height: 30px;
            font-size: 16px;
            color: $white-color;
        }
    }
}